@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
body {
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333;
    font-weight: 400;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4 {
    display: inline-block;
    width: 100%;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    padding: 0 0 40px 0;
    color: $blueChart;
}

h2 {
    font-size: 26px;
    font-weight: 600;
    padding: 0 0 5px 0;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 0 0 5px 0;
}

.flex {
    display: flex;
    &.col {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
    &.flex-end {
        align-items: flex-end;
    }
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

button {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    color: inherit;
    @include cancelBoxShadow();
    background-color: transparent;
    font-family: inherit;
    &:focus,
    &:active {
        outline: none;
    }
    &.btn {
        &.btn--icon {
            background-color: #fff;
            height: 40px;
            padding: 0 15px;
            @include borderRadius(20px);
            @include buttonShadow();
            @include transition(all 0.3s ease);
            position: relative;
            z-index: 1;
            overflow: hidden;
            .label {
                display: inline-block;
                font-size: 16px;
                line-height: 40px;
                font-weight: 700;
                z-index: 5;
                vertical-align: top;
                @include transition(all 0.3s ease);
            }
            .icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                position: relative;
                vertical-align: top;
                margin: 10px 0 10px 5px;
                @include transition(all 0.3s ease);
                &.icon__plus {
                    @include maskImage('../img/plus.svg');
                }
            }
            &:hover {
                background-color: #fff;
            }
            &:focus {
                &:before {
                    display: inline-block;
                    content: "";
                    @include animateClick();
                }
            }
            &.green {
                .label {
                    color: $greenChart;
                    position: relative;
                }
                .icon {
                    background-color: $greenChart;
                }
                &:hover {
                    background-color: $greenChart;
                    @include buttonShadowHover();
                    .label {
                        color: #fff;
                    }
                    .icon {
                        background-color: #fff;
                    }
                }
            }
        }
    }
}

.table {
    margin: 20px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
    thead {
        border-bottom: 1px solid #8e8e8e;
        th {
            text-align: left;
            vertical-align: middle;
            padding: 10px 15px;
            .table-th-filter {
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                color: #555;
                position: relative;
                &:hover {
                    color: $blueChart;
                }
                &.selected {
                    color: $blueChart;
                    &:after {
                        content: "";
                        display: inline-block;
                        width: 15px;
                        height: 15px;
                        position: absolute;
                        top: 0;
                        left: 105%;
                        @include maskImage('../img/filter-arrow.svg');
                        background-color: $blueChart;
                        @include transition(all 0.3s ease);
                    }
                    &.up {
                        &:after {
                            @include transform(rotate(180deg));
                        }
                    }
                }
            }
        }
    }
    tbody {
        border-collapse: separate;
        tr {
            td {
                max-width: 420px;
                padding: 20px 10px;
                font-size: 16px;
                color: $greyLight;
                &.title {
                    font-weight: 600;
                    color: $greenChart;
                }
            }
            &:hover {
                background-color: rgba(255, 255, 255, 0.7);
                @include boxShadow(0,
                2px,
                3px,
                0,
                rgba(0, 0, 0, 0.2));
                cursor: pointer;
                td.title {
                    color: $blueChart;
                }
            }
        }
    }
}