.modal-wrapper {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 100%;
    max-width: 960px;
    background: #fff;
    padding: 40px;
    @include boxShadow(0, 2px, 4px, 0, rgba(0, 0, 0, 0.3));
    @include borderRadius(3px);
}

.modal--header {
    .title {
        display: inline-block;
        font-size: 22px;
        font-weight: 600;
        color: $blueChart;
        border-bottom: 1px solid #ececec;
        padding-bottom: 20px;
    }
}

.modal--body {
    padding: 20px 0;
    p {
        font-size: 16px;
        line-height: 22px;
        strong {
            font-size: 18px;
            font-weight: 600;
            color: $redChart;
        }
    }
    border-bottom: 1px solid #ececec;
}

.modal--footer {
    padding-top: 20px;
    justify-content: flex-end;
    .modal--footer-btn-splitted {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.modal-merge-content {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #dffcff;
    .modal-merge-content--item {
        border-bottom: 1px solid #ececec;
        padding: 10px;
        .modal-merge-content--speaker {
            font-size: 15px;
            font-weight: 600;
        }
        .modal-merge-content--text {
            padding-left: 10px;
            font-size: 15px;
            font-weight: 600;
        }
    }
}