.conversation-filter-container {
    padding: 5px 0;
    .conversation-filter--btn {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        color: $greyLight;
        position: relative;
        padding: 0 3px;
        text-transform: uppercase;
        @include transition(all 0.3s ease);
        &:after {
            content: "";
            display: inline-block;
            height: 1px;
            width: 0px;
            position: absolute;
            top: 22px;
            left: 0;
            background-color: $greenChart;
            @include transition(all 0.3s ease);
        }
        &:hover {
            color: $greenChart;
            &:after {
                width: 100%;
            }
        }
        &.conversation-filter--btn__active {
            &,
            &:hover {
                color: $blueChart;
                font-weight: 700;
                &:after {
                    background-color: $blueChart;
                    width: 100%;
                }
            }
        }
    }
}

.table {
    tbody {
        tr {
            td {
                &.status {
                    .label {
                        font-weight: 600;
                        font-size: 14px;
                        position: relative;
                        padding-left: 20px;
                        &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 12px;
                            width: 12px;
                            @include borderRadius(10px);
                        }
                    }
                    &.open {
                        .label {
                            color: $greenChart;
                            &:after {
                                background-color: $greenChart;
                            }
                        }
                    }
                    &.locked {
                        .label {
                            color: $redChart;
                            &:after {
                                background-color: $redChart;
                            }
                        }
                    }
                }
            }
        }
    }
}